body {
    font-family: Arial;
    padding: 20px;
}

h1 {
    color: darkblue;
}

.form input {
    padding: 8px;
    margin: 5px;
}

button {
    padding: 8px 12px;
    background-color: green;
    color: white;
    border: none;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid gray;
    padding: 10px;
}
