body {
    font-family: Arial;
    margin: 20px;
}

.dashboard {
    display: flex;
    gap: 20px;
}

.card {
    padding: 15px;
    background: lightblue;
    border-radius: 8px;
}

table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid gray;
    padding: 10px;
}

.form {
    display: none;
    margin-top: 20px;
}
